<div class="container">
  <div class="row row-content" ng-controller="DishDetailController">
    <div class="col-xs-12" ng-if="!showDish">
      <h3>{{message}}</h3>
    </div>  
    <div class="col-xs-12" ng-if="showDish">
      <div class="media-left media-middle">
        <a ui-sref="app.menu">
          <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading">{{dish.name}}
         <span class="label label-danger">{{dish.label}}</span>
         <span class="badge">{{dish.price | currency}}</span></h2>
         <p>{{dish.description}}</p>
      </div>
      <br/>
      <div class="col-xs-9 col-xs-offset-1" >
        <p><b> Customer Comments </b> <input class="" ng-model="dish.filterText" placeholder="sortby..."></p>
        <blockquote ng-repeat="comment in dish.comments |  orderBy:dish.filterText">
          <p>{{filterText}}</p>
          <p>{{comment.comment}}</p>
          <p>{{comment.rating}}</p>
          <p>{{comment.author}}</p>
          <p>{{comment.date | date:"dd/MM/yyyy"}}</p>
        </blockquote>
      </div>
    </div>
  </div>

</div>